html, body, p, ul, li,
h1, h2, h3, h4, h5, h6,
pre
{
	margin: 0px;
	padding: 0px;
}

html, body {
	color: #450745;
	font-size: 15px;
	overflow: hidden;
	height: 100%;
	background: #FFFFFF;
}

.box {
	width: 100%;
	height: 100%;
	background: #F7F7F7;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}